<?xml version="1.0"?>
<config>
    <modules>
        <ZB_CacheBust>
            <version>1.0.0</version>
        </ZB_CacheBust>
    </modules>
    <global>
        <blocks>
            <cachebust>
                <class>ZB_CacheBust_Block</class>
            </cachebust>
            <page>
                <rewrite>
                    <html_breadcrumbs>ZB_CacheBust_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>